.card-main {
  height: 230px;
  width: 180px;
  border-radius: 10px;
  background-color: violet;
}

.option-image {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.option-name {
  height: 80px;
  width: 160px;
  background-color: white;
  border-radius: 8px 8px 0px 0px;

  display: table;
  margin-right: auto;
  margin-left: auto;
}

.option-heading {
  margin-left: 5%;
  margin-top: auto;
}

.view-button {
  width: 150px;
  display: table;
  margin-right: auto;
  margin-left: auto;
}
