.card-main {
  height: 230px;
  width: 180px;
  border-radius: 10px;
  background-color: violet;
  display: flex;
}
.option-name {
  height: 80px;
  width: 160px;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  margin: auto;
  position: relative;
  top: auto;
  margin-left: 6%;
}

.option-name .heading {
  height: 15px;
}

.view-button {
  width: 150px;
  position: relative;
  margin: auto;
}
